<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.compra.home.title">Compras</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compra" [routerLink]="['/compra/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.compra.home.createLabel">
            Create a new Compra
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="compras?.length === 0">
        <span jhiTranslate="sigoApp.compra.home.notFound">No compras found</span>
    </div>

     <a onclick="createBotaoExportCompra()">
        <span>
            <i class="fas fa-download fa-w-14 fa-fw fa-2x" aria-hidden="true"></i>
        </span>
    </a>

    <div class="table-responsive" id="divTableCompra" *ngIf="compras && compras.length > 0">
        <table id="idTableCompra" class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.compra.quantidade">Quantidade</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.compra.data">Data</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.compra.tamanho">Tamanho</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.compra.valor">Valor</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.compra.produto">Produto</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.compra.cliente">Cliente</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of compras ;trackBy: trackId">
                    <td><a [routerLink]="['/compra', compra.id, 'view']">{{ compra.id }}</a></td>
                    <td>{{ compra.quantidade }}</td>
                    <td>{{ compra.data | date:'mediumDate' }}</td>
                    <td>{{ compra.tamanho }}</td>
                    <td>{{ compra.valor }}</td>
                    <td>
                        <span *ngFor="let produto of compra.produtos; let last = last">
                            <a class="form-control-static" [routerLink]="['/produto', produto?.id, 'view']">{{ produto.nome }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="compra.clienteId">
                            <a [routerLink]="['/cliente', compra.clienteId , 'view']" >{{ compra.clienteCnpj }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/compra', compra.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/compra', compra.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(compra)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
