<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.funcionario.home.title">Funcionarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-funcionario" [routerLink]="['/funcionario/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.funcionario.home.createLabel">
            Create a new Funcionario
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="funcionarios?.length === 0">
        <span jhiTranslate="sigoApp.funcionario.home.notFound">No funcionarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="funcionarios && funcionarios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.funcionario.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.funcionario.dataNascimento">Data Nascimento</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.funcionario.dataAdmissao">Data Admissao</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.funcionario.cpf">Cpf</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.funcionario.rg">Rg</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.funcionario.sexo">Sexo</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.funcionario.loginAcesso">Login Acesso</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let funcionario of funcionarios ;trackBy: trackId">
                    <td><a [routerLink]="['/funcionario', funcionario.id, 'view']">{{ funcionario.id }}</a></td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.dataNascimento | date:'mediumDate' }}</td>
                    <td>{{ funcionario.dataAdmissao | date:'mediumDate' }}</td>
                    <td>{{ funcionario.cpf }}</td>
                    <td>{{ funcionario.rg }}</td>
                    <td>{{ funcionario.sexo }}</td>
                    <td>{{ funcionario.loginAcesso }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/funcionario', funcionario.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/funcionario', funcionario.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(funcionario)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
