<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.materiaPrima.home.title">Materia Primas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-materia-prima" [routerLink]="['/materia-prima/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.materiaPrima.home.createLabel">
            Create a new Materia Prima
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="materiaPrimas?.length === 0">
        <span jhiTranslate="sigoApp.materiaPrima.home.notFound">No materiaPrimas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="materiaPrimas && materiaPrimas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.materiaPrima.tipo">Tipo</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.materiaPrima.composicao">Composicao</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.materiaPrima.fio">Fio</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.materiaPrima.fornece">Fornece</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let materiaPrima of materiaPrimas ;trackBy: trackId">
                    <td><a [routerLink]="['/materia-prima', materiaPrima.id, 'view']">{{ materiaPrima.id }}</a></td>
                    <td>{{ materiaPrima.tipo }}</td>
                    <td>{{ materiaPrima.composicao }}</td>
                    <td>{{ materiaPrima.fio }}</td>
                    <td>
                        <div *ngIf="materiaPrima.forneceId">
                            <a [routerLink]="['/fornece', materiaPrima.forneceId , 'view']" >{{ materiaPrima.forneceId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/materia-prima', materiaPrima.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/materia-prima', materiaPrima.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                
                            </button>

                            <button type="submit" (click)="delete(materiaPrima)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
