<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-materia-prima-heading" jhiTranslate="sigoApp.materiaPrima.home.createOrEditLabel">Create or edit a Materia Prima</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigoApp.materiaPrima.tipo" for="field_tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="field_tipo"
                           formControlName="tipo"/>
                    <div *ngIf="editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigoApp.materiaPrima.composicao" for="field_composicao">Composicao</label>
                    <input type="text" class="form-control" name="composicao" id="field_composicao"
                           formControlName="composicao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigoApp.materiaPrima.fio" for="field_fio">Fio</label>
                    <input type="text" class="form-control" name="fio" id="field_fio"
                           formControlName="fio"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigoApp.materiaPrima.fornece" for="field_fornece">Fornece</label>
                    <select class="form-control" id="field_fornece" name="fornece" formControlName="forneceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="forneceOption.id" *ngFor="let forneceOption of forneces; trackBy: trackById">{{ forneceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
