<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="sigoApp.cliente.detail.title">Cliente</span> {{ cliente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigoApp.cliente.nome">Nome</span></dt>
                <dd>
                    <span>{{ cliente.nome }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.cliente.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{ cliente.cnpj }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.cliente.telefone">Telefone</span></dt>
                <dd>
                    <span>{{ cliente.telefone }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.cliente.contato">Contato</span></dt>
                <dd>
                    <span>{{ cliente.contato }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.cliente.endereco">Endereco</span></dt>
                <dd>
                    <span>{{ cliente.endereco }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.cliente.cep">Cep</span></dt>
                <dd>
                    <span>{{ cliente.cep }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
