<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.cliente.home.title">Clientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.cliente.home.createLabel">
            Create a new Cliente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
        <span jhiTranslate="sigoApp.cliente.home.notFound">No clientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="sigoApp.cliente.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.cliente.cnpj">Cnpj</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.cliente.telefone">Telefone</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.cliente.contato">Contato</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.cliente.endereco">Endereco</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.cliente.cep">Cep</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                   <!-- <td><a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a></td>-->
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cnpj }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.contato }}</td>
                    <td>{{ cliente.endereco }}</td>
                    <td>{{ cliente.cep }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(cliente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
