<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.processo.home.title">Processos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-processo" [routerLink]="['/processo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.processo.home.createLabel">
            Create a new Processo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="processos?.length === 0">
        <span jhiTranslate="sigoApp.processo.home.notFound">No processos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="processos && processos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.processo.idMateriaPrima">Id Materia Prima</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.processo.idProduto">Id Produto</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.processo.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.processo.descricao">Descricao</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.processo.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.processo.etapa">Etapa</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.processo.processo">Processo</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let processo of processos ;trackBy: trackId">
                    <td><a [routerLink]="['/processo', processo.id, 'view']">{{ processo.id }}</a></td>
                    <td>{{ processo.idMateriaPrima }}</td>
                    <td>{{ processo.idProduto }}</td>
                    <td>{{ processo.nome }}</td>
                    <td>{{ processo.descricao }}</td>
                    <td jhiTranslate="{{ 'sigoApp.StatusProcesso.' + processo.status }}">{{ processo.status }}</td>
                    <td jhiTranslate="{{ 'sigoApp.Etapa.' + processo.etapa }}">{{ processo.etapa }}</td>
                    <td>
                        <div *ngIf="processo.processoId">
                            <a [routerLink]="['/processo', processo.processoId , 'view']" >{{ processo.processoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/processo', processo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                
                            </button>

                            <button type="submit"
                                    [routerLink]="['/processo', processo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                
                            </button>

                            <button type="submit" (click)="delete(processo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
