<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.fornecedor.home.title">Fornecedors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fornecedor" [routerLink]="['/fornecedor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.fornecedor.home.createLabel">
            Create a new Fornecedor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fornecedors?.length === 0">
        <span jhiTranslate="sigoApp.fornecedor.home.notFound">No fornecedors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fornecedors && fornecedors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornecedor.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornecedor.cnpj">Cnpj</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornecedor.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornecedor.telefone">Telefone</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornecedor.razaoSocial">Razao Social</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fornecedor of fornecedors ;trackBy: trackId">
                    <td><a [routerLink]="['/fornecedor', fornecedor.id, 'view']">{{ fornecedor.id }}</a></td>
                    <td>{{ fornecedor.nome }}</td>
                    <td>{{ fornecedor.cnpj }}</td>
                    <td>{{ fornecedor.email }}</td>
                    <td>{{ fornecedor.telefone }}</td>
                    <td>{{ fornecedor.razaoSocial }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fornecedor', fornecedor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fornecedor', fornecedor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(fornecedor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
