<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.fornece.home.title">Forneces</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fornece" [routerLink]="['/fornece/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.fornece.home.createLabel">
            Create a new Fornece
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="forneces?.length === 0">
        <span jhiTranslate="sigoApp.fornece.home.notFound">No forneces found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="forneces && forneces.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornece.quantidade">Quantidade</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornece.data">Data</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornece.tamanho">Tamanho</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornece.valor">Valor</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.fornece.fornecedor">Fornecedor</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fornece of forneces ;trackBy: trackId">
                    <td><a [routerLink]="['/fornece', fornece.id, 'view']">{{ fornece.id }}</a></td>
                    <td>{{ fornece.quantidade }}</td>
                    <td>{{ fornece.data | date:'mediumDate' }}</td>
                    <td>{{ fornece.tamanho }}</td>
                    <td>{{ fornece.valor }}</td>
                    <td>
                        <div *ngIf="fornece.fornecedorId">
                            <a [routerLink]="['/fornecedor', fornece.fornecedorId , 'view']" >{{ fornece.fornecedorId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fornece', fornece.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fornece', fornece.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(fornece)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
