<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.normas.home.title">Normas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-normas" [routerLink]="['/normas/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.normas.home.createLabel">
            Create a new Normas
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="normas?.length === 0">
        <span jhiTranslate="sigoApp.normas.home.notFound">No normas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="normas && normas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="codigo"><span jhiTranslate="sigoApp.normas.codigo">Codigo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="sigoApp.normas.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="sigoApp.normas.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="sigoApp.normas.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let normas of normas ;trackBy: trackId">
                    <!--<td><a [routerLink]="['/normas', normas.id, 'view']">{{ normas.id }}</a></td>-->
                    <td>{{ normas.codigo }}</td>
                    <td>{{ normas.titulo }}</td>
                    <td>{{ normas.date | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'sigoApp.CategoryStatus.' + normas.status }}">{{ normas.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/normas', normas.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                
                            </button>

                            <button type="submit"
                                    [routerLink]="['/normas', normas.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                
                            </button>

                            <button type="submit" (click)="delete(normas)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="normas && normas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
