<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consultoria">
            <h2><span jhiTranslate="sigoApp.consultoria.detail.title">Consultoria</span> {{ consultoria.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigoApp.consultoria.nome">Nome</span></dt>
                <dd>
                    <span>{{ consultoria.nome }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.consultoria.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{ consultoria.cnpj }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.consultoria.dataContratacao">Data Contratacao</span></dt>
                <dd>
                    <span>{{ consultoria.dataContratacao }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.consultoria.email">Email</span></dt>
                <dd>
                    <span>{{ consultoria.email }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.consultoria.telefone">Telefone</span></dt>
                <dd>
                    <span>{{ consultoria.telefone }}</span>
                </dd>
                <dt><span jhiTranslate="sigoApp.consultoria.tipoServicoPrestado">Tipo Servico Prestado</span></dt>
                <dd>
                    <span>{{ consultoria.tipoServicoPrestado }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/consultoria', consultoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
