<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigoApp.venda.home.title">Vendas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-venda" [routerLink]="['/venda/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigoApp.venda.home.createLabel">
            Create a new Venda
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vendas?.length === 0">
        <span jhiTranslate="sigoApp.venda.home.notFound">No vendas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vendas && vendas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.venda.quantidade">Quantidade</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.venda.data">Data</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.venda.dataEntrega">Data Entrega</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.venda.valor">Valor</span></th>
                    <th scope="col" ><span jhiTranslate="sigoApp.venda.funcionario">Funcionario</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venda of vendas ;trackBy: trackId">
                    <td><a [routerLink]="['/venda', venda.id, 'view']">{{ venda.id }}</a></td>
                    <td>{{ venda.quantidade }}</td>
                    <td>{{ venda.data | date:'mediumDate' }}</td>
                    <td>{{ venda.dataEntrega | date:'mediumDate' }}</td>
                    <td>{{ venda.valor }}</td>
                    <td>
                        <div *ngIf="venda.funcionarioId">
                            <a [routerLink]="['/funcionario', venda.funcionarioId , 'view']" >{{ venda.funcionarioId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/venda', venda.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view"></span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/venda', venda.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
                            </button>

                            <button type="submit" (click)="delete(venda)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
